APP_NAME=K-Drama Analytics API
APP_VERSION=1.0.0
CORS_ORIGINS=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=kdrama
DB_USER=postgres
DB_PASSWORD=123456

THRESHOLD_HOT=500
THRESHOLD_MEDIUM=1500
